.footer {
  color: white;
  background-color: black;

  a {
    color: white;
    text-decoration: none;
  }

  .container {
    padding: 20px;

    @media (min-width: $tabletMinWidth) {
      display: flex;
      gap: 40px;
      justify-content: center;
    }
  }
}