@use "../mixins" as m;
//@use "../functions" as f;

@import "header";
@import "footer";

// Declaration order:
// 1.Positioning
// 2.Box model
// 3.Typography
// 4.Visual

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #222222;
}

h1,
h2,
h3 {
  font-family: $font-family-serif;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: black;
}

h3 {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

section {
  header {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid black;
  }

  .content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

a {
  color: $anchor-color;
  text-decoration: underline;

  &:hover {
    color: generate-shade($anchor-hover-color, 90%);
    text-decoration: double;
  }
}

.article {
  @media (min-width: $tabletMinWidth) {
    display: flex;
    flex: 0 0 50%;
    padding-bottom: 20px;
  }

  @media (min-width: $desktopMinWidth) {
    display: flex;
    flex: 0 0 40%;
  }
}

.article__image {
  position: relative;
  height: 100%;

  .article__image--meta {
    position: absolute;
    bottom: 7px;
    padding: 5px;
    font-size: 0.9rem;
    line-height:1;
    background-color: white;
    opacity: 0.7;
  }

  @media (min-width: $tabletMinWidth) {
    flex: 0 0 50%;
    padding-top: 80px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: $desktopMinWidth) {
    flex: 0 0 60%;
  }
}

.article__details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 20px;
  margin-inline: auto;
}

.article__button {
  display: inline-block;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  background-color: black;

  &:hover {
    background-color: #333333;
  }
}

.cover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url("../images/wellington.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 68%;
  background-size: cover;

  @media (min-width: $tabletMinWidth) {
    height: 500px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.grp-activities {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  figure {
    position: relative;
    width: 50%;
    max-width: 240px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

    figcaption {
      position: absolute;
      bottom: 15px;
      left: 10px;

      a {
        color: white;
        text-decoration: none;

        &::after {
          margin-right: 10px;
          margin-left: 10px;
          content: ">";
        }
      }
    }
  }
}

.logo {
  display: block;
  max-width: 100px;
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

.white {
  color: white;
}

.social-links {
  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    padding-left: 20px;
    list-style: none;

    @media (min-width: $tabletMinWidth) {
      padding-inline-start: 0;
      padding-left: 0;
    }
  }
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;

  &.img-fluid {
    width: 100%;
    height: auto;
  }
}

%ul-link--nostyle {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-left: 1px solid white;
  }

  li {
    flex-shrink: 0;
    align-self: flex-start;
    list-style: none;
    //display: inline-block;
    @include m.hover-underline;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }
}

nav {
  @extend %ul-link--nostyle;
}

.link-list {
  @extend %ul-link--nostyle;
}

.welcome {
  background-color: yellow;
}

.things-to-do {
  background-color: aquamarine;
}

.taste-nz {
  background-color: coral;
}

.exp-nature {
  background-color: darkcyan;
}
