<footer class="footer">
    <div class="container">
        <nav>
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="#">Destinations</a>
                </li>
                <li>
                    <a href="#">Things to do</a>
                </li>
                <li>
                    <a href="#">Plan your trip</a>
                </li>
                <li>
                    <a href="#">Accomodation</a>
                </li>
            </ul>
        </nav>
        <div class="link-list">
            <h3>About WellingtonNZ</h3>
            <ul>
                <li>
                    <a href="/about-us" target="_blank">About us</a>
                </li>
                <li>
                    <a href="/about-us/press-releases-and-news" target="_blank">Press releases</a>
                </li>
                <li>
                    <a href="https://resources.wellingtonnz.com/" target="_blank">Image library</a>
                </li>
            </ul>
        </div>
        <div class="social-links">
            <h3>Connect</h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com/wellingtonnz/" target="_blank">
                        <i class="fa-solid fa-brands fa-facebook fa-2x white"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/wellingtonnz/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2x white"></i>
                    </a>
                </li>
                <li><a href="https://twitter.com/Wellington_NZ" target="_blank">
                        <i class="fa-brands fa-x-twitter fa-2x white"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/WellingtonNZcom" target="_blank">
                        <i class="fa-brands fa-youtube fa-2x white"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>