<header class="header">
    <div class="container">
        <div class="header__left">
            <div class="logo">
                <a href="#">
                    <img class="image image--fluid" src="assets/images/logo.png" alt="New Zealand" height="60">
                </a>
            </div>
            <div style="padding-left: 20px">
                <h1>Visit Wellington NZ</h1>
            </div>
        </div>
        <div class="header__right">
            <nav class="header__menu">
                <ul class="ulist">
                    <li class="ulist__element"><a class="ulist__link ulist__link--active" href="#">The city</a></li>
                    <li class="ulist__element"><a class="ulist__link" href="#">Things to do</a></li>
                    <li class="ulist__element"><a class="ulist__link" href="#">Plan your trip</a></li>
                    <li class="ulist__element"><a class="ulist__link" href="#">Accommodation</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>