<header class="header">
    <div class="container">
        <div class="header__left">
            <div class="logo">
                <a href="#">
                    <img class="img-fluid" src="assets/images/logo.png" alt="New Zealand" height="60">
                </a>
            </div>
            <div style="padding-left: 20px">
                <h1>Visit Wellington NZ</h1>
            </div>
        </div>
        <div class="header__right">
            <nav class="header__menu">
                <ul>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Things to do</a></li>
                    <li><a href="#">Plan your trip</a></li>
                    <li><a href="#">Accommodation</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>