/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */
/**
 * Import variables
 */
/**
 * Import functions
 */
/*
@function invert($color, $amount: 100%) {
  $inverted-hue: (color.hue($color) + 180 % 360);
  $inverse: color.change($color, $hue: $inverted-hue);
  @debug "hola";
  @return mix($inverse, $color, $amount);
}

@function min($numbers...) {
  $min: get-first($numbers);

  @each $number in $numbers {
    @if $min > $number {
      $min: $number;
    }
  }

  @return $min;
}

@function subs($numbers...) {
  $subs: 0;
  @each $number in $numbers {
    $subs: $subs - $number;
  }
  @return $subs;
}

@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }
  @return $sum;
}

@function to-uppercase($str) {
  @return string.upcase($str);
}*/
/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */
/* Import Fontawesome */
@import "npm:@fortawesome/fontawesome-free/css/all.css";
/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
/*
@function invert($color, $amount: 100%) {
  $inverted-hue: (color.hue($color) + 180 % 360);
  $inverse: color.change($color, $hue: $inverted-hue);
  @debug "hola";
  @return mix($inverse, $color, $amount);
}

@function min($numbers...) {
  $min: get-first($numbers);

  @each $number in $numbers {
    @if $min > $number {
      $min: $number;
    }
  }

  @return $min;
}

@function subs($numbers...) {
  $subs: 0;
  @each $number in $numbers {
    $subs: $subs - $number;
  }
  @return $subs;
}

@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }
  @return $sum;
}

@function to-uppercase($str) {
  @return string.upcase($str);
}*/
.header {
  color: white;
  background-color: black;
}
.header a {
  color: white;
}
.header .container {
  width: 100%;
  padding: 20px;
}
@media (min-width: 1024px) {
  .header .container {
    display: flex;
  }
  .header .container .header__left {
    display: flex;
    flex: 0 0 40%;
    flex-direction: column-reverse;
  }
  .header .container .header__left .logo {
    margin-left: initial;
  }
  .header .container .header__right {
    flex: 0 0 60%;
  }
  .header .container .header__menu ul {
    flex-direction: row;
    justify-content: flex-end;
    border: initial;
  }
}
@media (min-width: 1600px) {
  .header .container .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header .container .header__left > div {
    flex-grow: 2;
    flex-shrink: 0;
  }
  .header .container nav.header__menu ul {
    justify-content: flex-start;
  }
}

.footer {
  color: white;
  background-color: black;
}
.footer a {
  color: white;
}
.footer .container {
  padding: 20px;
}
@media (min-width: 1024px) {
  .footer .container {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1rem;
  line-height: 1.5;
  color: #222222;
}

h1,
h2,
h3 {
  font-family: "Georgia", "Times New Roman", serif;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2.8rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: black;
}

h3 {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

section header {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid black;
}
section .content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

a {
  color: #555555;
  text-decoration: underline;
}
a:hover {
  color: #e6e6e6;
  -webkit-text-decoration: double;
          text-decoration: double;
}

/*.description {
  font-size: 1.1rem;
  line-height: 1.5;
}*/
@media (min-width: 1024px) {
  .article {
    flex: 0 0 50%;
  }
}
@media (min-width: 1600px) {
  .article {
    flex: 0 0 40%;
  }
}
.article .article__image {
  position: relative;
  height: 100%;
}
.article .article__image .meta {
  position: absolute;
  bottom: 4px;
  padding: 5px;
  line-height: 1;
  font-size: 0.9rem;
  background-color: white;
  opacity: 0.7;
}
@media (min-width: 1024px) {
  .article .article__image {
    flex: 0 0 50%;
    padding-top: 80px;
  }
  .article .article__image img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1600px) {
  .article .article__image {
    flex: 0 0 60%;
  }
}
.article .article__details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 20px;
  margin-inline: auto;
}
.article .article__button {
  display: inline-block;
  flex-shrink: 0;
  align-self: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  background-color: black;
}
.article .article__button:hover {
  background-color: #333333;
}
@media (min-width: 1024px) {
  .article {
    display: flex;
    padding-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  .article {
    display: flex;
  }
}

.cover {
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url("../images/wellington.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 68%;
  background-size: cover;
}
@media (min-width: 1024px) {
  .cover {
    height: 500px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.grp-activities {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.activities figure {
  position: relative;
  width: 50%;
  max-width: 240px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.activities figure figcaption {
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.activities figure figcaption a {
  color: white;
  text-decoration: none;
}
.activities figure figcaption a::after {
  margin-right: 10px;
  margin-left: 10px;
  content: ">";
}

.logo {
  display: block;
  max-width: 100px;
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

.white {
  color: white;
}

.social-links ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  padding-left: 20px;
  list-style: none;
}
@media (min-width: 1024px) {
  .social-links ul {
    padding-inline-start: 0;
    padding-left: 0;
  }
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
img.img-fluid {
  width: 100%;
  height: auto;
}

.link-list ul, nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-left: 1px solid white;
}
.link-list li, nav li {
  flex-shrink: 0;
  align-self: flex-start;
  list-style: none;
  text-decoration: none;
}
.link-list li:hover, nav li:hover {
  border-bottom: 1px solid white;
}
.link-list a, nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.link-list a.active, nav a.active {
  font-weight: bold;
}

.welcome {
  background-color: yellow;
}

.things-to-do {
  background-color: aquamarine;
}

.taste-nz {
  background-color: coral;
}

.exp-nature {
  background-color: darkcyan;
}

/**
 * Do NOT include anything else in this file!
 *//*# sourceMappingURL=main.css.map */